build**
.cache
default.profraw
benchmarks/scripted-servers/undertow_server/*.jar
benchmarks/scripted-servers/results
benchmarks/scripted-servers/rust_server/target
benchmarks/scripted-servers/certs
benchmarks/scripted-servers/logs
benchmarks/scripted-servers/go-bench-server
benchmarks/scripted-servers/static/image.bin
benchmarks/scripted-servers/static/medium.bin
benchmarks/scripted-servers/static/large.bin
**/*.class

# IDE / editor
.idea/
.vscode/

**/__pycache__

.venv
